* {
  padding:0;
  margin:0;
  box-sizing:border-box;
}

html {
  width:100%;
  height:100%;
}

body {
  width:100%;
  height:100%;
  color: #000;
  background-color: #fff;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
}

#cardbox {
  width:70%;
}

#iconImage {
  display:inline;
  width:2em;
  height:2em;
}

.bottomArea {
  background-color:rgba(242,248,255,255) !important;
}
